#abb {
  background-color: #1b1b1b;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: black;
}

.container-lg {
  background-color: rgba(238, 180, 30, 1);
  width: 50%;
  height: 50vh;
}
