<div id="home">
  <p class="text1">LA TUA PALESTRA, OVUNQUE TU VOGLIA</p>

  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/immagini/palestra1.jpg"
          class="d-block w-100"
          alt="pal1"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/immagini/palestra2.jpg"
          class="d-block w-100"
          alt="pal2"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/immagini/palestra3.jpg"
          class="d-block w-100"
          alt="pal3"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--<img class="image1" src="../../assets/immagini/palestra1.jpg" />-->

  <p class="text2">
    SEI IN VIAGGIO E NON VUOI RINUNCIARE ALLA TUA FORMA FISICA? <br />
    ALLORA CERCA LA PALESTRA AFFILIATA PIU’ VICINA A TE ED USUFRUISCI DEI LORO
    CORSI. <br />
    IL TUTTO CON UN SEMPLICE ABBONAMENTO
  </p>

  <img class="image2" src="../../assets/immagini/palestra2.jpg" />

  <button class="abbonamento">scopri la nostra offerta</button>

  <footer>
    <ul>
      <h4>LINK UTILI</h4>
      <p>Assistenza</p>
      <p>Termini legali</p>
      <p>App per cellulare</p>
      <p>Diritti del consumatore</p>
    </ul>
    <ul>
      <h4>AZIENDA</h4>
      <p>Chi siamo</p>
      <p>Il nostro team</p>
      <p>Sede legale</p>
    </ul>
    <ul>
      <h4>PER LE PALESTRE</h4>
      <p>Registrazione</p>
      <p>FAQ</p>
    </ul>
    <ul>
      <h4>SEGUICI</h4>
      <p>Facebook</p>
      <p>Instagram</p>
      <p>Linkedin</p>
    </ul>
  </footer>
</div>
