#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: rgba(238, 180, 30, 1);
  background-color: #1b1b1b;
}
.text1 {
  word-spacing: 5px;
  font-size: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 456.69%;
}

.abbonamento {
  border-radius: 50px;
  background-color: rgba(238, 180, 30, 1);
  color: white;
  width: 409px;
  height: 39px;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 20px;
}

.text2 {
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170.69%;
  text-align: center;
}

.carousel-item {
  border: 3px solid #eeb41e;
}

.image1 {
  border: 3px solid #eeb41e;
  width: 1067px;
  height: 463px;
}

.image2 {
  width: 1067px;
  height: 473px;
  border: 3px solid #eeb41e;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  font-size: 12px;
  width: 90%;
}
